# Base URL of the Django API
VITE_API_BASE=http://127.0.0.1:8000

# Social login (optional)
# Create a Google OAuth client (Web) and set the Client ID here.
VITE_GOOGLE_CLIENT_ID=28918575571-ilpr9h9tgb4ictiqp8nq082phos8kg8o.apps.googleusercontent.com
